<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14" android:targetSdkVersion="21" />

    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 读取网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 存储卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取存储卡的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 访问后台服务的权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE"/>
    <!-- 获取手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <!-- 添加录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<!-- 这个权限用于进行网络定位-->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<!-- 这个权限用于访问GPS定位-->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
 
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <!-- 百度地图相关权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />  
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />  
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />  
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />  
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />  
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />  
	<uses-permission android:name="android.permission.BROADCAST_STICKY" /> 
	<!--允许应用读取低级别的系统日志文件 -->
	<uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.example.chat.ChatApplication" >
        
        <!-- 百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="53xCgO1vglPfHZOggwlqBtep" />
        
        <!-- <activity
            android:name="com.example.chat.activity.ChatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ChatActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <!-- <activity
            android:name="com.example.chat.activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <activity
            android:name="com.example.chat.activity.LoginActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.chat.activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.example.chat.activity.RegistActivity"
            android:label="@string/activity_lable_regist"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.example.chat.activity.AddFriendActivity"
            android:label="@string/activity_lable_add_friend"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.example.chat.activity.UserInfoActivity"
            android:label="@string/activity_lable_friend_info"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.example.chat.activity.ChatActivity"
            android:label="@string/activity_lable_chat"
            android:theme="@style/AppTheme.ChatActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.example.chat.activity.NewFriendInfoActivity"
            android:label="@string/activity_lable_new_friend_info"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.example.chat.activity.AlbumActivity"
            android:label="@string/activity_lable_album"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.AlbumActivity"/>
            
        <activity
            android:name="com.example.chat.activity.PhotoPreviewActivity"
            android:label="@string/activity_lable_album"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.ImagePreviewActivity"/>
            
        <activity
            android:name="com.example.chat.activity.FileExplorerActivity"
            android:label="@string/activity_lable_file_explorer"
            android:configChanges="orientation|screenSize"/>
            
        <activity
            android:name="com.example.chat.activity.AudioListActivity"
            android:label="@string/activity_lable_audio"
            android:configChanges="orientation|screenSize"/>
        
        <activity
            android:name="com.example.chat.activity.LocationShareActivity"
            android:label="@string/activity_lable_location_share"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <provider android:name="com.example.chat.provider.UserProvider"
            android:authorities="com.example.chat.provider.user;com.example.chat.provider.newFriend"
            android:exported="false" />
        
        <provider android:name="com.example.chat.provider.MsgProvider"
            android:authorities="com.example.chat.provider.msg"
            android:exported="false" />
        
        <service android:name="com.example.chat.service.CoreService" />
        
        <!-- 百度定位service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        
    </application>

</manifest>
